<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.uolcpd.btownshend"
    versionCode = "1"
    version     = "1.0.1" >

<name>Social Network Barcodes</name>
<description>A barcode scanner to transfer social media details.</description>
<author href="" email="13480634@students.lincoln.ac.uk">Ben Townshend</author>

<access origin="*" />

<preference name="phonegap-version" value="cli-7.1.0" />
<preference name="keepRunning" 				value="true" />
<preference name="DisallowOverscroll" 		videoholdervalue="true"/>
<preference name="stay-in-webview" 			value="false" />
<preference name="AllowInlineMediaPlayback" 	value="true"/>
<preference name="permissions"                value="none"/>

<preference name="orientation"                value="portrait" />
<preference name="target-device"              value="universal" />
<preference name="fullscreen"                 value="true" />
<preference name="webviewbounce"              value="true" />
<preference name="prerendered-icon"           value="true" />
<preference name="stay-in-webview"            value="true" />
<preference name="ios-statusbarstyle"         value="black-opaque" />
<preference name="detect-data-types"          value="true" />
<preference name="exit-on-suspend"            value="true" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen"    value="true" />
<preference name="disable-cursor"             value="false" />
<preference name="android-installLocation"    value="auto" />

<!-- Plugins -->
<plugin name="cordova-plugin-console" />
<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-dialogs" />
<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-network-information" />

<plugin name="cordova-plugin-ios-camera-permissions" spec="1.2.0">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes" />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="To scan barcodes" />
</plugin>
<plugin name="cordova-plugin-camera" spec="4.0.3">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes" />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="To scan barcodes" />
</plugin>
<plugin name="phonegap-plugin-barcodescanner" spec="7.1.2">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes" />
</plugin>
<platform name="ios">
     <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
          <string>To scan barcodes</string>
     </edit-config>
     <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge" overwrite="true" >
          <string>To scan barcodes</string>
     </edit-config>
     <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
          <string>To scan barcodes</string>
     </edit-config>
</platform>
<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
        <uses-permission android:name="android.permission.CAMERA" />
    </config-file>
</platform>

<platform name="ios">
    <!-- <icon src="assets/icon.png" /> -->
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="assets/icons/apple/Icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="assets/icons/apple/Icon-60.png" width="60" height="60" />
    <icon src="assets/icons/apple/Icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="assets/icons/apple/Icon-76.png" width="76" height="76" />
    <icon src="assets/icons/apple/Icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="assets/icons/apple/Icon-40.png" width="40" height="40" />
    <icon src="assets/icons/apple/Icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="assets/icons/apple/icon.png" width="57" height="57" />
    <icon src="assets/icons/apple/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="assets/icons/apple/Icon-72.png" width="72" height="72" />
    <icon src="assets/icons/apple/Icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="assets/icons/apple/Icon-small.png" width="29" height="29" />
    <!-- <icon src="assets/icons/apple/Icon-small@2x.png" width="58" height="58" /> -->
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="assets/icons/apple/Icon-50.png" width="50" height="50" />
    <icon src="assets/icons/apple/Icon-50@2x.png" width="100" height="100" />

    <!-- iPhone and iPod touch -->
    <splash src="assets/splash/apple/Default~iphone.png" platform="ios" width="320" height="480" />
    <splash src="assets/splash/apple/Default~iphone-landscape.png" platform="ios" width="480" height="320" />
    <splash src="assets/splash/apple/Default@2x~iphone.png" platform="ios" width="640" height="960" />
    <splash src="assets/splash/apple/Default@2x~iphone-landscape.png" platform="ios" width="960" height="640" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="assets/splash/apple/Default-568h@2x.png" platform="ios" width="640" height="1136" />
    <splash src="assets/splash/apple/Default-568h@2x-landscape.png" platform="ios" width="1136" height="640" />

    <!-- iPhone 6 -->
    <splash src="assets/splash/apple/Default-667h@2x-landscape.png" platform="ios" width="750" height="1334" />
    <!--<splash src="assets/splash/apple/Default-667h@2x-landscape.png" platform="ios" width="1334" height="750" />-->
    <splash src="assets/splash/apple/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <splash src="assets/splash/apple/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="assets/splash/apple/Default-Portrait~ipad.png" platform="ios" width="768" height="1024" />
    <splash src="assets/splash/apple/Default-Landscape~ipad.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="assets/splash/apple/Default-Portrait@2x~ipad.png" platform="ios" width="1536" height="2048" />
    <splash src="assets/splash/apple/Default-Landscape@2x~ipad.png" platform="ios" width="2048" height="1536" />
    <!-- <splash src="splash.png" /> -->
</platform>
<platform name="android">
    <!-- <icon src="icon.png" /> -->
    <icon src="assets/icons/android/48.png"   platform="android"    qualifier="mdpi" />
    <icon src="assets/icons/android/72.png"   platform="android"    qualifier="hdpi" />
    <icon src="assets/icons/android/96.png"  platform="android"    qualifier="xhdpi" />
    <icon src="assets/icons/android/144.png"  platform="android"    qualifier="xxhdpi" />
    <icon src="assets/icons/android/192.png"  platform="android"    qualifier="xxxhdpi" />
    <icon src="assets/icons/android/512.png"  platform="android"    />
    <!-- <splash src="splash.9.png" /> -->
    <splash src="assets/splash/drawable-hdpi/splash2.9.png" density="land-hdpi"/>
    <splash src="assets/splash/drawable-hdpi/splash2.9.png" density="land-ldpi"/>
    <splash src="assets/splash/drawable-mdpi/splash2.9.png" density="land-mdpi"/>
    <splash src="assets/splash/drawable-xhdpi/splash2.9.png" density="land-xhdpi"/>
    <splash src="assets/splash/drawable-hdpi/splash2.9.png" density="port-hdpi"/>
    <splash src="assets/splash/drawable-hdpi/splash2.9.png" density="port-ldpi"/>
    <splash src="assets/splash/drawable-mdpi/splash2.9.png" density="port-mdpi"/>
    <splash src="assets/splash/drawable-xhdpi/splash2.9.png" density="port-xhdpi"/>
</platform>
<access origin="*"/>
<!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
<plugin name="cordova-plugin-whitelist" version="1" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />
<platform name="android">
    <allow-intent href="market:*" />
</platform>
<platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
</platform>
<allow-navigation href="*://*youtube.com" />
<allow-navigation href="twitter://user?*" />
</widget>
