@charset "UTF-8";

body.online #offline{
	display:none;
}
body.offline #offline{
display: block;
	width: 100vw;
	height: 100vh;
	background-color: red;
	color: white;
	position: fixed;
	z-index: 9999;
	padding: 30px;
	box-sizing: border-box;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 20px;
}
p {
    text-align: justify;
}

#qrcode {
	width: 100%;
	height: auto;
}
#qrcode img {
	margin: auto;
}

.navigation {
	width: 100%;
	position: fixed;
	left:0;
	bottom: 0;
}
.navigation button {
	float: left;
	width: 33%;
}
